
/*ОСНОВНЫЕ БЛОКИ*/
.wrap {
   display: flex;
   width: 1170px;
   margin: 0 auto;
   margin-top: 64px;
}

/*ШАПКА*/

.footer {
    margin-left: auto;
    margin-right: auto;
}
.socials-icons { 
    display: block;
}
.socials-icons {
    display: flex;
    padding: 0;
    padding-top: 31px;
    padding-bottom: 31px;
    list-style-type: none;
    background-color: #f4f7f6;
    width: 1200px;
    justify-content: center;
} 
.social-link {
    width: 24px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}  
.link-twitter {
    display: block;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
}   
.link-pinterest {
    display: block;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
    margin-left: 30px;
}  
.link-facebook {
    display: block;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
    margin-left: 30px;
} 
.link-inst {
    display: block;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
    margin-left: 30px;
}
.link-tumblr {
    display: block;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
   
    margin-left: 30px;
}
.socials-icons-text, .input-text {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
.copy-text, .copy-text a {
    font-size: 12px;
    text-decoration: none;
    font-family: "Open Sans";
    color: #999999;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 40px;
}
